* {
    font-family: 'arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.nav a:hover {
    text-decoration: underline;
}

.nav button {
    background: #1b72e8;
    border: none;
    outline: none;
    padding: 10px 25px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    border-radius: 3px;
    cursor: pointer;
}

li {
    list-style: none;
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 280px;
    
}

.searchBar {
    width: 100%;
    margin-top: 25px;
    position: relative;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -35px;
    padding: 0 15px;

}

.search {
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.buttons button {
    margin: 30px 5px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    border: none;
    cursor: pointer;
}

.languages {
    display: flex;
    gap: 10px;
    font-size: 14px;
    margin-top: 20px;
    
}

.languages li a {
    color: #453bbc;
    text-decoration: none;
}

.languages li a:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.links ul {
    display: flex;
    gap: 25px;
    margin: 20px;
}

.links ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #707579;
}

.links ul li a:hover {
    text-decoration: underline;
}

.country {
    margin: 20px;
    color: #707579;
}